
# .gitignore Jupyter defaults
/*.egg-info
/.spyderproject
.spyderproject
.idea/*
/**/__pycache__
/**/.ipynb_checkpoints
/.doit.db.bak
/.doit.db.dat
/.doit.db.dir
/unzipped_data
/data

# cm's environment
/w207-final
/.vscode